<%- include('../../header.ejs') %>
<%- include('../../nav.ejs') %>
<body>
    <div class="container">
        <br>
        <div class="card">         
            <div class="card-header">
                <h2>Atualizar tarefa</h2>
            </div>
            <div class="card-body">
                <form action="/admin/tasks/saveupdate" method="POST">
                    <input type="text" name="nome" class="form-control" value="<%= task.nome %>"><br>
                    <input type="text" name="responsavel" class="form-control" value="<%= task.responsavel %>"><br>
                    <input type="hidden" name="id" value="<%= task.id %>">
                    <select name="status" class="form-select">
                        <option value="Aberta">Aberta</option>
                        <option value="Pendente">Pendente</option>
                        <option value="Encerrada">Encerrada</option>
                    </select>
                    <br>
                    <button type="submit" class="btn btn-success">Atualizar</button>
                </form>
            </div>
        </div>
    </div>
    <br>
</body>
<%- include('../../footer.ejs') %>